.speech {
    font-family: sans-serif; 
    font-size: 16px; 
    color: black;
}

.direction {
    font-family: serif; 
    font-size: 14px; 
    color: black;
    background-color: lightgray;
}

.direction:hover {
    background-color: lightblue; 
    color: white; 
}


.REGINA{
    font-family: 'Times New Roman', Times, serif;
    color: red;
}
.ENGSTRAND{
    font-family: Arial, Helvetica, sans-serif;
    color:blueviolet;
}
