.speech {
    font-family: sans-serif; 
    font-size: 16px; 
    color: black;
}

.direction {
    font-family: serif; 
    font-size: 14px; 
    color: black;
    background-color: lightgray;
}

.direction:hover {
    background-color: lightblue; 
    color: white; 
}
.REGINA{
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-size: 16px;
}
.ENGSTRAND{
    font-family: Arial, Helvetica, sans-serif;
    color:blueviolet;
    font-size: 16px;

}
.REGINA:hover{
      text-shadow:6px 7px 5px burlywoodg;
      border:solid 2px blueviolet
}
.ENGSTRAND:hover{
    text-shadow:6px 7px 5px burlywoodg;
    border:solid 2px blueviolet
}

#actors{
    margin: centre;
    padding: 5px;
    border: 2px solid #1b1a1a;
    color:rgb(136, 26, 209);
    background-color: cadetblue;
    text-align:center;
}
th{
    background-color: cadetblue;
    color:aquamarine;
    text-align: center;
    padding: 20px;
    border:3px solid cyan;
}

td{
    border:3px rgb(205, 199, 215);
    text-align: right;
    padding: auto;
}
tr{
   background-color:rgb(182, 192, 192);
}
tr:nth-child(even){
    background-color: aquamarine;
}
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
  }
  
  ul.navbar li {
    float:left;
    color:#000;
    background-color:blueviolet;
  }
  
  ul.navbar a {
    display:block;
    padding:8px
  }
  ul.navbar a:hover {  
    background-color: #555;
    color:white;
  }